<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{nav.html::navbar}"></div>
<span sec:authentication="principal.username"></span>
<div sec:authorize="isAuthenticated()">
    <a href="/logout">로그아웃</a>
</div>

<!--th:each로 html 반복 생성 가능, i안의 자료 갯수만큼 반복 생성됨-->
<!--item안에 있는걸 하나씩 까주는것-->
<div class="card" th:each="i:${items}">
    <img src="https://placehold.co/300">
    <div>
        <h4 th:text="${i.title}">바지</h4>
        <a th:text="'작성자: '+(${i.member!=null? i.member.username:'❌'})">작성자</a>
        <br/>

        <a th:href="@{'/detail/'+${i.id}}">📍 details</a>
        <br/>
        <a th:href="@{'/edit/'+${i.id}}">✏️ edit</a>
        <span th:onclick="fetch('/item?id=[[${i.id}]]',
        { method:'DELETE' })
          .then(r => r.text())
          .then(() => {
          location.reload();
        })">🗑️</span>
    </div>
</div>

</body>
</html>